$color-light-blue: #6cd7f1;
$color-light-2-blue: #3ccef1;

$color-light-orange: #ffb873;
$color-light-2-orange: #ff9f40;

$color-black: #050505;
$color-white: #FFFCE1;

* {
  font-family: Montserrat !important;
  color: $color-black;
}

body {
  margin: 0;
}

.black-bg {
  background-color: $color-black;
  color: $color-white;
}